body {
    font-family: monospace;
    font-size: 12px;
}

h1 {
    font-size: 16px;
}

textarea {
    font-family: monospace;
}

input {
    font-family: monospace;
}

button {
    font-family: monospace;
}

div.popupBox {
    position: absolute;
    left: 24px;
    top: 24px;
    border: 4px solid gray;
    background-color: white;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#selectorDiv {
    margin-top: 16px;
}

div#contentDiv {
    margin-top: 16px;
}

span.resourceSelectorLink {
    cursor: pointer;
    cursor: hand;
}

span.resourceSelectorLink:hover {
    color: red;
}

span.resourceSelectorLink:active {
    color: blue;
}

table {
    border: none;
}

tr.addRowBoxPropertyRow {
    border: 0px;
}

tr.titleRow {
    background-color: black;
    color: white;
    font-weight: bold;
}

td {
    border: 1px solid gray;
    padding: 4px;
    min-width: 100px;
}
